body 
{
    background-color: #fafafa;
    color:#5a5a5a;
    font-family: 'Baloo Tamma 2', cursive;
    margin-left: 100px; 
    margin-right: 200px;
    border: 2px dashed#5a5a5a;
    padding-right:50px;
    padding-left:50px;
}
header 
{
    text-align: center;
    background-color: pink;
}
footer
{
    text-align: center;
    background-color: pink;
    font-style: italic;
}
nav 
{   
}
h1
{
    font-size:300%;
}
image
{
    padding:10px;
}