body 
{
    background-color: #fafafa;
    color:#5a5a5a;
    font-family: Tahoma, sans-serif;
    margin-left: 100px; 
    margin-right: 200px;
    border: 2px dashed#5a5a5a;
    padding-right:50px;
    padding-left:50px;
}